@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.yeseva {
  font-family: "Yeseva One", serif;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  /* background: transparent; */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
